langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.49
langchain-mcp-adapters==0.0.6
langchain-teddynote==0.3.45
langchain-text-splitters==0.3.7
langgraph==0.3.21
langgraph-checkpoint==2.0.23
langgraph-prebuilt==0.1.7
langgraph-sdk==0.1.60
langsmith==0.3.19
streamlit==1.44.0
langchain_google_genai==2.1.2
yfinance==0.2.55
python-dotenv==1.1.0
pydantic==2.11.1
matplotlib==3.10.1
duckduckgo-search==2025.4.1
langchain_anthropic==0.3.10